@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #8a79f0;
  --primary-color-dark: #2e2a40;
  --text-dark: #221e36;
  --text-light: #767268;
  --extra-light: #f1f2ff;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Section */
nav {
  width: 100%;
  background: #2e2a40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}